header {
  /* background-color: green; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  flex-direction: row;
  align-items: center;
}

header h1 {
  margin: 0;
  padding: 10px 0;
}

header button {
  height: 3em;
  border-radius: 10%;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}