table {
  width: 100%;
  border-radius: 10px;
  border-collapse: separate;
  table-layout: fixed;
  background-color: rgb(255, 255, 255);
  border-spacing: 0 2px;
  border: 1px solid rgba(255, 255, 255, 0.815);
  /* color: rgb(255, 255, 255); */
}

table button {
  width: 90%;
  height: 3em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  border-radius: 10%;
  border: none;
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button {
  background-color: firebrick;
  border-radius: 10%;
  color: white;
}

.delete-button-expired {
  border: 1px solid red;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    border-color: white;
  }
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1px;
  border: '1px solid red';
  padding: 0;
  justify-content: center;
}

th {
  line-height: 3em;
  text-align: left;
  padding-bottom: 10px;
  padding: 0;
}

tr {
  height: 40px;
  border-radius: 10px;
}



th:first-child {
  width: 2em;
}

th:nth-child(3) {
  width: 2em;
}

th:nth-child(6),
th:nth-child(7) {
  width: 3em;
}

td:nth-child(3) {
  text-align: center;
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}